@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron-500.woff2') format('woff2'), url('../fonts/orbitron-500.woff') format('woff'), url('../fonts/Orbitron-500.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

body {
    font-family: 'Orbitron', 'Segoe UI', 'Arial', sans-serif;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 1.25rem;
}

button {
    cursor: pointer;
}

a {
    color: #f77820;
    text-decoration: inherit;
    transition: color 0.3s;
    font-weight: 500;
}

/* a:hover,
a:focus {
    color: #b63a01;
} */

/* Pour le mode clair forcé */
html:not(.dark) a {
    color: #780000;
}

html:not(.dark) a:hover,
html:not(.dark) a:focus {
    color: #914803;
}

/* Pour le mode sombre */
html.dark a {
    color: #f77820;
}

html.dark a:hover,
html.dark a:focus {
    color: #b63a01;
}